@import "~mdb-ui-kit/css/mdb.min.css";

.contactus {
  width: 21%;
  margin-left: 850px;
}

h1 {
  text-align: center;
  margin: auto;
  padding-bottom: 30px;
  color: rgb(59, 113, 203);
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 1px 1px rgba(128, 128, 128, 0.616);
}

.message {
  height: 100px;
}
.contactusimg {
  position: absolute;
  width: 700px;
  top: 40px;
  margin-left: 50px;
  opacity: 90%;
}
