@import "~mdb-ui-kit/css/mdb.min.css";

.profile {
  width: 40%;
  margin: auto;
  margin-bottom: 50px;
}
.cardProfile {
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}
.profileTitle {
  margin-left: 50px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.col-md-4 {
  width: 180px;
  padding: 20px 0px 10px 40px;
}
