.aboutus {
  width: 50%;
  margin-left: 650px;
}
.aboutuscard {
  width: 80%;
  margin: auto;
}
.aboutustext {
  padding: 20px 20px 40px 20px;
  color: gray;
}
.aboutusimg {
  position: absolute;
  width: 700px;
  top: 100px;
  margin-left: 20px;
  opacity: 90%;
}
