@import "~mdb-ui-kit/css/mdb.min.css";

.nav-link {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: large;
  font-weight: lighter;
}
.nav-link:focus {
  color: rgb(59, 113, 203);
  font-weight: bold;
  opacity: 90%;
}
.nav-link:hover {
  font-size: larger;
  font-weight: bold;
  opacity: 90%;
}
.navmargin {
  margin-left: 100px;
}
